/************************************** DESKTOP VIEW ****************************************/
body{
    font-family: arial, serif;
    color: #333;
    background: url("../images/form_bg.jpg") no-repeat;
    background-size: cover;
}
h1{
    font-weight: normal;
    margin: 0 auto 18px auto;
    text-align: center;
    font-size: 2.5em;
}
form{
    width: 500px;
    margin: 20px auto;

}
.user_input{
    display: block;
    padding: 6px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}
button{
    padding:8px 16px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid black;
}
button[type="submit"]{
    padding:16px 24px;
}
button:hover{
    background-color: #ccc;
    border-color:darkcyan;
}
button:last-child:active{
    transform:translateY(7px);
}
button:active{
    background-color: darkcyan;
    border-color:black;
}
.show_hide_password_btn{
    margin-top: -56px;
    margin-right: 10px;
    float: right;
    width: 70px;
}
#formContainer{
    background-color: #00333333;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 4px;
}
.msg{
    font-family: arial, serif;
    font-size:0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color:orange;
    opacity: 0;
    height: 0;
}
/************************************** MOBILE VIEW *****************************************/
@media only screen and (max-width: 600px){
    body{
        background: url("../images/mobile_bg.jpg") no-repeat;
        background-size: auto;
    }
    h1{
        font-size: 2em;
    }
    #formContainer{
        width:auto;
    }
    form{
        width:auto;
        padding:0 10px;
    }
    .user_input{
        font-size: 1.5em;
    }
    .show_hide_password_btn{
        padding:8px;
        margin-top: -51px;
        margin-right: 6px;
        width: 50px;
        font-size: 12px;
    }
    .msg{
        font-size:0.8em;
    }
}
